.custome_thumb{
    width: 200px;
    height: 150px !important;
}

.pager .active a{
    background-color: black;
    color: white;
}
.pager .active:hover{
    /* background-color: #000000; */
    color: black;
}